.ui.secondary.menu {
    background: #FFF;
}

.ui.secondary.pointing.menu .item {
    /*-webkit-align-self: flex-end;*/
    /*-ms-flex-item-align: end;*/
    align-self: center;
}

.right.menu .item {
    text-transform: uppercase;
}

.ui.menu .item {
    text-transform: uppercase;
}

/*.ui.secondary.menu {
    border-bottom: 1px solid rgba(34,36,38,.15);
}*/

/*.ui.secondary.pointing.menu {
    border-bottom: 1px solid rgba(34,36,38,.15);
}*/
